{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{# Modal add to Cart #}
	<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Produit ajouté au Panier!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>
	</div>

	<section id="homePage">
		{# <h1 class="homeTitleNouveau">Nouveautés</h1> #}
		{# Swiper #}
		<div class="swiper-container" id="product_container">
			<div class="swiper-wrapper" id="product_list">
				{% for data in myData %}
					<div class="card swiper-slide" id="card_product" data-id="{{ data.productId }}">
						<img src="{{ asset('assets/img/products/' ~ data.productImage) }}" alt="{{ data.productTitle }}" id="homeProductImage" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-around">
								{% if app.user is not null %}
									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{ path('delete_form', { 'id': data.productId }) }}"><i class="fa fa-minus-square-o minusAdmin" data-id="{{ data.productId }}" aria-hidden="true" data-tooltip="Supprimer un produit"></i></a>
										<a href="{{ path('product_edit', { 'id': data.productId }) }}"><i class="fa fa-pencil editAdmin" data-id="{{ data.productId }}" aria-hidden="true" data-tooltip="Modifier un produit"></i></a>
									{% endif %}
								{% endif %}
								{% if app.user is not null %}
									{% if 'ROLE_ADMIN' in app.user.roles %}
										<i class="fa fa-heart-o card_heart position-relative top-0 start-0" aria-hidden="true" data-target="#cartModal" data-toggle="modal" data-id="{{ data.productId }}" data-tooltip="Ajouter au Panier"></i>
									{% endif %}
								{% endif %}
								{% if app.user is null %}
									<i class="fa fa-heart-o card_heart" aria-hidden="true" data-target="#cartModal" data-toggle="modal" data-id="{{ data.productId }}" data-tooltip="Ajouter au Panier"></i>
								{% endif %}
							</div>
							<div class="d-flex flex-column justify-content-around">
								<h5 id="homeProductName" class="card-title">{{ data.productTitle }}</h5>
								<p class="card-text" id="homeProductPrice">{{ data.productPrice }} €</p>
							</div>
							<a href="{{ path('productDescription', { 'id': data.productId }) }}" class="btn btn-outline-success infoAccueil">Plus d'informations</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if app.user is not null %}
			{% if 'ROLE_ADMIN' in app.user.roles %}
				<a href="{{ path('product_new') }}">
					<div class="d-flex justify-content-center border border-secondary rounded" id="addButton">
						<i class="fa fa-plus" aria-hidden="true" id="plusAdmin"></i>
						<h2 class="addProduct">Ajouter un produit</h2>
					</div>
				</a>
			{% endif %}
		{% endif %}
		<div id="authenticated-status" data-authenticated="{{ isUserConnected }}"></div>
	</section>
{% endblock %}
