{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <main>
        <div class="bloc_panier" id="bloc_panier_top">
            <p class="line_panier"> Pub sur les promos </p>
        </div>
        <div class="d-flex">
            <div class="d-flex flex-column">

                <div class="bloc_panier">
                    <h1>Your Cart</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Retirer du panier</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cartItem in cartItems %}
                            <tr>
                                {# <td>{{ cartItem.cartImage }}</td> #}
                                <td>{{ cartItem.cartProduct }}</td>
                                <td>{{ cartItem.cartPrice }}</td>
                                <td>{{ cartItem.cartQuantity }}</td>
                                <td>{{ cartItem.cartDescription }}</td>
                                <td>
                                    <form method="post" action="{{ path('remove_from_cart', {'productId': cartItem.cartId}) }}">
								        <button type="submit">Retirer</button>
							        </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <p>Total Price: {{ cartItems|calculateTotalCartPrice }}</p>

                    <a href="{{ path('checkout') }}">Proceed to Checkout</a>
                </div>

                <div class="bloc_panier">
                    <p> Vous pourriez aussi aimer:</p>
                    <p>les nouveautés</p> 
                </div>
            </div>

            <div class="bloc_panier">
                <p> Produits liés aux articles du panier</p>
            </div>
        </div>
    </main>
{% endblock %}