{% extends 'base.html.twig' %}

{% block title %}Product Description{% endblock %}

{% block body %}
    <main>
        <div class="bloc_description">
            <div class="card swiper-slide" data-id="{{ myData.productId }}">
				<img src="{{ asset('assets/img/products/' ~ myData.productImage) }}" alt="{{ myData.productTitle }}" class="card-img-top">
				<div class="card-body">
					<i class="fa fa-heart-o" id="card_heart" aria-hidden="true"></i>
					<div class="d-flex flex-column justify-content-around">
						<h5 id="homeProductName" class="card-title">{{ myData.productTitle }}</h5>
							<div class='d-flex justify-content-between'>
								<p class="card-text" id="homeProductPrice">
									{% if myData.productPromotion > 0 %}
										Prix : {{ (myData.productPrice - (myData.productPrice * (myData.productPromotion / 100))) | number_format(2) }} €
									{% else %}
										Prix : {{ myData.productPrice | number_format(2) }} €
									{% endif %}
								</p>
								<p class="card-text me-5" id="promotionProductArray">
									{% if myData.productPromotion > 0 %}
										Promotion : - {{ (myData.productPromotion) }} %
									{% else %}
										Promotion : - 0 %
									{% endif %}
								</p>
							</div>
						<p>Description : {{ myData.productDescription }}</p>
					</div>
				</div>
			</div>
        </div>
    </main>
{% endblock %}